<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <th:block th:fragment="header">
        <header class="fixed-top">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-sm-11 offset-1 align-self-center">
                        <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                            <a th:href="@{'/id' + ${myId}}">My Page</a>
                            <a class="ml-3" th:href="@{'/id' + ${myId} + '/friends'}">Friends</a>
                            <a class="ml-3" th:href="@{'/id' + ${myId} + '/searchPeoples'}">Search</a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
</body>
</html>