<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="fullPage">
    <th:block th:replace="fragments/header :: header"/>

    <main class="container">
        <div class="row" style="background: cadetblue; min-height: 100vh; padding-top: 50px;">
            <table class="table table-dark">
                <tr th:each="friend:${friends}">
                    <td style="width: 20%;">
                        <th:block th:if="${friend.getPicture()} != null">
                            <img class="logo" th:src="@{'/images/' + ${friend.getPicture()} + '.jpg'}"/>
                        </th:block>
                        <th:block th:if="${friend.getPicture()} == null">
                            <img class="logo" th:src="@{'/images/pic.jpg'}"/>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{'/id' + ${friend.getId()}}" th:text="${friend.getFirstName() + ' ' + friend.getLastName()}"></a>
                    </td>
                    <td style="width: 20%;">
                        <a class="btn btn-primary btn-block btn-sm" th:href="@{'/id' + ${friend.getId()} + '/deleteFromFriends'}">Accept</a>
                    </td>
                </tr>
            </table>
        </div>
    </main>

    <th:block th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>